@import "variables.scss";

.bg-blur {
  background-color: rgba(255,255,255, 0.15)!important;
  backdrop-filter: blur(5px);
  border-radius: $border-radius-primary;
  box-shadow: $box-shadow;

  &.primary-padding {
    padding: $padding-primary;
  }
  &.padding-secondary {
    padding: $padding-secondary;
  }


}

ul {
  list-style: circle inside!important;
  padding-inline-start: .5rem;
  li strong {
    font-weight: 600;
  }
  li::marker {
    color: $active;
  }
}

.btn {
  display: flex;
  gap: $gap-secondary;
  align-items: center;
  justify-content: center;
  padding: $padding-secondary $padding-primary;

  cursor: pointer;

  width: max-content;

  background-color: $gray-300;
  border-radius: $border-radius-primary;

  border: 1px solid rgba(0, 0, 0, .01);
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.3), -3px -3px 10px -5px rgba(255, 255, 255, 0.3);
  transition: $smooth;

  span {
    font-size: 1.2rem;
  }

  &.bookmark-mobile {
    color: $primary-white;
  }

  &.hidden-text {
    gap: unset;
    p {
      max-width: 0;
      max-height: 0;
      overflow: hidden;
    }

    &.mobile {
      p {
        max-width: max-content;
        max-height: max-content;
      }
    }

    &:hover {
      gap: $gap-secondary;
      p {
        max-width: max-content;
        max-height: max-content;
      }
    }
  }

  &.btn-no, &.btn-yes, &.btn-info {
    opacity: .7;
    min-width: 50px;
    font-size: 1rem;
    text-align: center;
    color: $primary-white;
  }

  &.btn-no {
    background-color: $delete;
  }

  &.btn-yes {
    background-color: $success;
  }

  &.btn-info {
    background-color: $active-dark;
  }

  &:hover {
    color: $primary-white;
    transform: scale(1.05);

    &.btn-no, &.btn-yes {
      opacity: 1;
      transform: scale(1.15);
    }
  }

  &:disabled {
    opacity: .5;
    background-color: $disabled;
    cursor: not-allowed;
    pointer-events: none;
  }

  &.btn-dashboard-box {
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);


    &.first-note-todo {
      border-radius: 5px;
      inset: 65px 0 0 0;
      margin: auto;
      height: fit-content;
      transition: $smooth;
      -webkit-backface-visibility: hidden;
      &:hover {
        transform: scale(1.1) perspective(1px) translateZ(0);
        backface-visibility: hidden;
      }
    }

    &:hover {
      color: unset;
      background-color: rgba(255, 255, 255, 0.85);
      transform: none;
    }
  }
}

.active {
  color: $active;
  position: relative;
  &:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    margin-right: .2rem;
  }
}

progress {
  appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: $gray-100;
  outline: none;
  &::-webkit-progress-bar {
    background-color: $gray-100;
    border-radius: 5px;
  }
  &::-webkit-progress-value {
    background-color: $active;
    border-radius: 5px;
  }
  &::-moz-progress-bar {
    background-color: $active;
    border-radius: 5px;
  }
}

.id-form-alert {
  color: $delete;
  letter-spacing: 2px;
  text-align: end;
  span {
    font-size: .8rem;
  }
}

.id-form-control {
  &.checkbox, &.settings-head {
    display: flex;
    align-items: center;
  }
  &.settings-head {
    font-size: 1.15rem;
    font-weight: 600;
    margin-bottom: .5rem;
  }
  #time_spent {
    display: flex;
    gap: .5rem;
  }
  label {
    margin-bottom: .2rem;
  }
  input {
    width: 100%;
    height: 28px;
    padding: $padding-secondary;
    border-radius: 0;
    border-width: 0;
    outline: none;
    border-bottom: 2px solid $gray-100;
    transition: $smooth;
    font-family: 'Rajdhani', sans-serif;
    &:focus {
      border-bottom: 2px solid $active;
    }
    &::placeholder {
      opacity: .5;
    }
    &.error {
      color: $delete;
      border-bottom: 2px solid $delete;
    }
  }

  textarea {
    width: 100%;
    height: 50px;
    max-height: 200px;
    resize: vertical;
    padding: $padding-secondary;
    border-radius: 0;
    border-width: 0;
    outline: none;
    border-bottom: 2px solid $gray-100;
    transition: $smooth;
    font-family: 'Rajdhani', sans-serif;
    &:focus {
      border-bottom: 2px solid $active;
    }
    &::placeholder {
      opacity: .5;
    }
  }
}

.id-flex-col {
  display: flex!important;
  flex-direction: column;

  &.id-spc-btw {
    justify-content: space-between;
  }

  &.id-justify-start {
    justify-content: flex-start;
  }

  &.id-gap {
    &-small {
      gap: $gap-secondary;
    }
    &-medium {
      gap: $gap-primary;
    }
    &-big {
      gap: $gap-double;
    }
  }
}

.id-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &.id-gap {
    &-small {
      gap: $gap-secondary;
    }
    &-medium {
      gap: $gap-primary;
    }
    &-big {
      gap: $gap-double;
    }
    &-xtra-big {
      gap: $gap-quadruple;
    }
  }
}

.id-flex-spc {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.id-align-start {
    align-items: flex-start;
  }

  &.id-gap {
    &-small {
      gap: $gap-secondary;
    }
    &-medium {
      gap: $gap-primary;
    }
    &-big {
      gap: $gap-double;
    }
    &-xtra-big {
      gap: $gap-quadruple;
    }
  }
}

.h {
  &-100 {
    height: 100%!important;
  }
  &-75 {
    height: 75%!important;
  }
  &-50 {
    height: 50%!important;
  }
}

.w {
  &-100 {
    width: 100%!important;
  }
  &-75 {
    width: 75%!important;
  }
  &-50 {
    width: 50%!important;
  }
}

mat-divider {
  margin-block: 1rem!important;
}
