$primary-white: rgba(255, 255, 255, 0.9);
$primary-black: rgba(0, 0, 0, 0.9);

$gray-100: rgba(0, 0, 0, 0.1);
$gray-200: rgba(0, 0, 0, 0.2);
$gray-300: rgba(0, 0, 0, 0.3);
$gray-400: rgba(0, 0, 0, 0.4);
$gray-500: rgba(0, 0, 0, 0.5);

$white-700: rgba(255, 255, 255, 0.7);
$white-500: rgba(255, 255, 255, 0.5);
$white-300: rgba(255, 255, 255, 0.3);

$active: #4580ee;
$active-light: #72a6d9;
$active-dark: #0a44b0;

$success: #00c851;
$success-dark: #007e33;
$low: #fdfa48;
$warning: #f5a623;
$delete: #ea344b;

$disabled: rgba(44, 44, 44, 0.3);


$gap-primary: 1rem;
$gap-secondary: .5rem;
$gap-double: 2rem;

$padding-primary: 10px;
$padding-secondary: 5px;

$border-radius-primary: 5px;

$smooth: all .5s ease-in-out;
