<h2 mat-dialog-title>{{dialogTitle}}</h2>
<span class="material-symbols-outlined close-btn" (click)="closeDialog()">close</span>
<mat-dialog-content>

  <form class="id-flex-col id-gap-big id-scrollbar" [formGroup]="todoForm">
    <div class="id-form-control id-flex-col">
      <label for="title">Todo Title</label>
      <input
        type="text"
        id="title"
        formControlName="title"
        placeholder="Enter todo title here..."
        [ngClass]="todoForm.controls.title.touched && todoForm.controls.title.invalid ? 'error' : ''"
      >
      <div *ngIf="todoForm.controls.title.touched && todoForm.controls.title.invalid" class="id-form-alert">
        <span *ngIf="todoForm.controls.title.errors?.['required']">Please provide note title</span>
      </div>
    </div>

    <div class="id-flex-spc id-align-start id-gap-big">
      <div class="id-form-control id-flex-col w-100">
        <label for="priority">Priority</label>
        <mat-select
          id="priority"
          formControlName="priority"
          placeholder="Select priority"
          [ngClass]="todoForm.controls.priority.touched && todoForm.controls.priority.invalid ? 'error' : ''"
        >
          <mat-option *ngFor="let priority of priorities" [value]="priority">{{priority}}</mat-option>
        </mat-select>
        <div *ngIf="todoForm.controls.priority.touched && todoForm.controls.priority.invalid" class="id-form-alert">
          <span *ngIf="todoForm.controls.priority.errors?.['required']">Please select priority</span>
        </div>
      </div>
      <div class="id-form-control id-flex-col w-100">
        <label for="progress">Progress</label>
        <input
          type="range"
          min="0"
          max="100"
          step="25"
          list="progress-marks"
          id="progress"
          formControlName="progress"
        />
        <datalist id="progress-marks">
          <option value="0" label="0%"></option>
          <option value="25"></option>
          <option value="50" label="50%"></option>
          <option value="75"></option>
          <option value="100" label="100%"></option>
        </datalist>
      </div>
    </div>

    <div class="id-form-control id-flex-col">
      <label for="content">Content</label>
      <quill-editor
        id="content"
        formControlName="content"
        class="id-quill"
      ></quill-editor>
    </div>
  </form>

</mat-dialog-content>
<mat-dialog-actions [align]="'end'" [ngStyle]="{display: 'flex', gap: '.75rem', 'margin-right': '.5rem'}">
  <button
    class="btn btn-no"
    (click)="closeDialog()"
  >Cancel</button>
  <button
    class="btn btn-yes"
    [disabled]="!todoForm.valid"
    (click)="saveTodo()"
  >{{ type == 'add' ? 'Add New' : 'Save changes' }}</button>
</mat-dialog-actions>
