<h2 mat-dialog-title>{{dialogTitle}}</h2>
<span class="material-symbols-outlined close-btn" (click)="closeDialog()">close</span>
<mat-dialog-content class="id-scrollbar">

  <form class="id-flex-col id-gap-big id-scrollbar" [formGroup]="todoForm">
    <div class="id-form-control id-flex-col">
      <label for="title">Todo Title</label>
      <input
        type="text"
        id="title"
        formControlName="title"
        placeholder="Enter todo title here..."
        [ngClass]="todoForm.controls.title.touched && todoForm.controls.title.invalid ? 'error' : ''"
      >
      <div *ngIf="todoForm.controls.title.touched && todoForm.controls.title.invalid" class="id-form-alert">
        <span *ngIf="todoForm.controls.title.errors?.['required']">Please provide note title</span>
      </div>
    </div>

    <div class="id-flex-spc id-align-start id-gap-xtra-big">
      <div class="id-form-control id-flex-col w-100">
        <label for="progress">Progress</label>
        <input
          type="range"
          min="0"
          max="100"
          step="25"
          list="progress-marks"
          id="progress"
          formControlName="progress"
        />
        <datalist id="progress-marks">
          <option value="0" label="0%"></option>
          <option value="25"></option>
          <option value="50" label="50%"></option>
          <option value="75"></option>
          <option value="100" label="100%"></option>
        </datalist>
      </div>
      <div class="id-form-control id-flex-col w-100">
        <label for="priority">Priority</label>
        <mat-select
          id="priority"
          formControlName="priority"
          class="id-select-panel"
          panelClass="id-select-panel"
          [ngClass]="todoForm.controls.priority.touched && todoForm.controls.priority.invalid ? 'error' : ''"
        >
          <mat-option *ngFor="let priority of priorities" [value]="priority">{{priority}}</mat-option>
        </mat-select>
        <div *ngIf="todoForm.controls.priority.touched && todoForm.controls.priority.invalid" class="id-form-alert">
          <span *ngIf="todoForm.controls.priority.errors?.['required']">Please select priority</span>
        </div>
      </div>
      <div class="id-form-control id-flex-col w-100">
        <label for="dueDate">Due date</label>
        <input
          type="datetime-local"
          id="dueDate"
          formControlName="dueDate"
        >
      </div>
      <div class="id-form-control id-flex-col w-100">
        <label for="time_spent">Spent (HH:MM:ss)</label>
        <div id="time_spent">
          <input
            type="number"
            min="0"
            max="100"
            formControlName="timeSpentH"
          >
          <input
            type="number"
            min="0"
            max="59"
            formControlName="timeSpentM"
          >
          <input
            type="number"
            min="0"
            max="59"
            formControlName="timeSpentS"
          >
        </div>
      </div>
    </div>

    <div class="id-flex-spc id-align-start id-gap-xtra-big">
      <div class="id-form-control id-flex-col w-100">
        <label for="completed">Todo status</label>
        <div class="id-flex id-checkbox-container">
          <input
            type="checkbox"
            id="completed"
            formControlName="completed"
            class="id-checkbox">
          <label for="completed" class="id-checkbox-label">Completed</label>
        </div>
      </div>
      <div class="id-form-control id-flex-col w-100">
        <label for="boardUid">Board</label>
        <mat-select
          id="boardUid"
          formControlName="boardUid"
          class="id-select-panel"
          panelClass="id-select-panel"
          [ngClass]="todoForm.controls.boardUid.touched && todoForm.controls.boardUid.invalid ? 'error' : ''"
        >
          <mat-option *ngFor="let board of boards" [value]="board.uid">{{board.name}}</mat-option>
        </mat-select>
        <div *ngIf="type == 'add' && todoForm.controls.boardUid.touched && todoForm.controls.boardUid.invalid" class="id-form-alert">
          <span *ngIf="todoForm.controls.boardUid.errors?.['required']">Please select board</span>
        </div>
      </div>
      <div class="id-form-control id-flex-col w-100">
        <label for="columnUid">Column</label>
        <mat-select
          id="columnUid"
          formControlName="columnUid"
          class="id-select-panel"
          panelClass="id-select-panel"
          [ngClass]="todoForm.controls.priority.touched && todoForm.controls.priority.invalid ? 'error' : ''"
        >
          <mat-option *ngFor="let column of boardColumns" [value]="column.uid">{{column.name}}</mat-option>
        </mat-select>
        <div *ngIf="todoForm.controls.priority.touched && todoForm.controls.priority.invalid" class="id-form-alert">
          <span *ngIf="todoForm.controls.priority.errors?.['required']">Please select column</span>
        </div>
      </div>
    </div>

    <div class="id-form-control id-flex-col">
      <label for="content">Content</label>
      <quill-editor
        id="content"
        formControlName="content"
        class="id-quill"
        [style.max-height]="'unset'"
      ></quill-editor>
    </div>
  </form>

</mat-dialog-content>
<mat-dialog-actions [align]="'end'" [ngStyle]="{display: 'flex', gap: '.75rem', 'margin-right': '.5rem'}">
  <button
    class="btn btn-no"
    (click)="closeDialog()"
  >Cancel</button>
  <button
    class="btn btn-yes"
    [disabled]="!todoForm.valid"
    (click)="saveTodo()"
  >{{ type == 'add' ? 'Add New' : 'Save changes' }}</button>
</mat-dialog-actions>
