@import "../../../app/styles/variables.scss";
@import "../../../app/styles/quill_id.scss";
@import 'quill/dist/quill.bubble.css';
@import 'quill/dist/quill.snow.css';

:host {
  font-size: 20px;
  font-family: 'Rajdhani', sans-serif;
  line-height: 1.2;

  > * {
    font-family: inherit;
    line-height: inherit;
    font-weight: 600;
  }

  ::ng-deep quill-editor.id-quill .ql-container {
    max-height: unset!important;
  }
}

form {
  container-name: formContainer;
  container-type: inline-size;
}

@container formContainer (width < 800px) {
  form {
    & > div:nth-child(2) {
      flex-wrap: wrap;
      row-gap: 2rem;

      .id-form-control {
        width: calc(50% - 2rem)!important;
      }
    }
  }
}

@container formContainer (width < 500px) {
  form {
    & > div:nth-child(2), & > div:nth-child(3) {
      flex-wrap: wrap;
      row-gap: 2rem;

      .id-form-control {
        width: 100%!important;
      }
    }
  }
}


