@import "../../../app/styles/variables.scss";
@import "../../../app/styles/quill_id.scss";
@import 'quill/dist/quill.bubble.css';
@import 'quill/dist/quill.snow.css';

:host {
  font-size: 20px;
  font-family: 'Rajdhani', sans-serif;
  line-height: 1.2;

  > * {
    font-family: inherit;
    line-height: inherit;
    font-weight: 600;
  }

  ::ng-deep quill-editor.id-quill .ql-container {
    max-height: unset!important;
  }
}


