<id-title-header
  [route]="'/todos'"
  [title]="todos.length == 0 ? 'Todos' : 'Latest Todos'"
  [counter]="todos.length"
  [counterTooltip]="'Todos overall'"
></id-title-header>

<div class="dash-box-wrapper id-flex-col id-gap-medium id-scrollbar">
  <div
    *ngFor="let todo of latestDueTodos"
    class="id-todo-dash-container id-flex-spc bg-blur padding-secondary"
    [style.opacity]="todo.completed ? .5 : 1"
  >
    <span
      (click)="updateTodoStatus(todo)"
      class="material-symbols-outlined checkBox"
      [ngClass]="todo.completed ? 'completed' : 'not-completed'"
      matTooltip="{{ todo.completed ? 'Task Completed' : 'Not Completed'}}" matTooltipClass="id-tooltip"
    >
      {{todo.completed ? 'select_check_box' : 'check_box_outline_blank'}}</span>
    <div class="todo-title-due">
      <div>{{todo.title}}</div>
      <div class="due-date" *ngIf="todo.dueDate">
        {{todo.dueDate | date: 'dd/MM/YY, HH:mm'}}
      </div>
      <progress
        [matTooltip]="'Progress: ' + todo.progress.toString() + '%'"
        matTooltipPosition="below"
        class="dash-progress"
        [value]="todo.progress"
        max="100"
      ></progress>
    </div>
    <div class="todo-actions">
      <div>
        <span
          class="material-symbols-outlined preview"
          (click)="showTodoPreview(todo)"
          matTooltip="Preview Todo"
          matTooltipPosition="below"
        >manage_search</span>
        <span
          [ngStyle]="timeKeeperTodoUidRunning == todo.uid ? {'pointer-events': 'none', opacity: .2} : {}"
          class="material-symbols-outlined play"
          (click)="launchTimeKeeper(todo)"
          matTooltip="Launch Time Keeper"
          matTooltipPosition="below"
        >play_arrow</span>
        <span
          class="material-symbols-outlined edit"
          (click)="openEditTodoDialog(todo)"
          matTooltip="Edit Todo"
          matTooltipPosition="below"
        >stylus</span>
        <span
          class="material-symbols-outlined delete"
          (click)="openDeleteTodoDialog(todo)"
          matTooltip="Delete Todo"
          matTooltipPosition="below"
        >delete</span>
      </div>
      <div
        class="todo-priority"
        [ngClass]="todo.priority == 'High' ? 'high' : todo.priority == 'Medium' ? 'medium' : 'low'"
        [matTooltip]="'Priority: ' + todo.priority.toUpperCase()"
      >{{todo.priority.slice(0,1).toUpperCase()}}</div>
    </div>
  </div>
</div>

<button
  class="btn btn-dashboard-box"
  [ngClass]="isMobile ? 'hidden-text mobile' : todos.length == 0 ? 'first-note-todo' : 'hidden-text'"
  (click)="openAddTodoDialog()"
>
  <span class="material-symbols-outlined">add</span>
  <p>{{todos.length == 0 ? 'Add First Todo' : 'Add New Todo'}}</p>
</button>
