<id-title-header
  [route]="'/notes'"
  [title]="notes.length == 0 ? 'Notes' : 'Latest Notes'"
  [counter]="notes.length"
  [counterTooltip]="'Notes overall'"
></id-title-header>

<div class="dash-box-wrapper id-flex-col id-gap-medium id-scrollbar">
  <div *ngFor="let note of latestNotes" class="id-note-dash-container id-flex-spc bg-blur padding-secondary">
    <div>
      <span class="material-symbols-outlined" matTooltip="{{ note.createdAt | date: 'dd/MM/YY, HH:mm' }}" matTooltipClass="id-tooltip">event</span>
      {{note.title}}
    </div>
    <div>
      <span class="material-symbols-outlined preview" (click)="showNotePreview(note)">manage_search</span>
      <span class="material-symbols-outlined edit" (click)="openEditNoteDialog(note)">stylus</span>
      <span class="material-symbols-outlined delete" (click)="openDeleteNoteDialog(note)">delete</span>
    </div>
  </div>
</div>

<button
  class="btn btn-dashboard-box"
  [ngClass]="notes.length == 0 ? 'first-note' : 'hidden-text'"
  (click)="openAddNoteDialog()"
>
  <span class="material-symbols-outlined">add</span>
  <p>{{notes.length == 0 ? 'Add First Note' : 'Add New Note'}}</p>
</button>
