<h2 mat-dialog-title>
  <img ngSrc="assets/logo.png" alt="iDash Logo" height="25" width="25">
  {{dialogTitle}}
</h2>
<span class="material-symbols-outlined close-btn" (click)="closeDialog()">close</span>
<mat-dialog-content class="id-scrollbar" [style.height.%]="'100'">

  <mat-tab-group headerPosition="below" [@.disabled]="true" [disableRipple]="true">
    <mat-tab #tab1>
      <ng-template mat-tab-label>
        <ng-container *ngIf="tab1.isActive else notActive">
          <mat-icon>fiber_smart_record</mat-icon>
        </ng-container>
        <ng-template #notActive>
          <mat-icon>fiber_manual_record</mat-icon>
        </ng-template>
      </ng-template>
      <div class="tab-content">
        <section>
          <h3>Explore Your Personal Dashboard</h3>
          <mat-divider></mat-divider>
          <p class="quote">
            With iDash you can organize your time, keep track of your budget, manage your day-to-day task and plan your far-reaching goals. It's never been <span data-after="easier!">easier!</span>
          </p>
          <ul>
            <li>Simple - CRUD - Create, Read, Update, Delete</li>
            <li>Personal - keep data on your browser</li>
            <li>Secure - no data is sent to the server</li>
            <li>Fast - no server round trips</li>
            <li>Free - no ads, no tracking</li>
          </ul>
        </section>
        <aside>
          <img ngSrc="assets/welcome_webp/Welcome_0.webp" alt="Welcome Intro" height="1080" width="1920">
        </aside>
      </div>
    </mat-tab>
    <mat-tab #tab2>
      <ng-template mat-tab-label>
        <ng-container *ngIf="tab2.isActive else notActive">
          <mat-icon>fiber_smart_record</mat-icon>
        </ng-container>
        <ng-template #notActive>
          <mat-icon>fiber_manual_record</mat-icon>
        </ng-template>
      </ng-template>
      <div class="tab-content">
        <section>
          <h3>Dedicated Tools</h3>
          <mat-divider></mat-divider>
          <p class="quote">
            If available on market apps have to many unnecessary options for You, iDash has 5 <span data-after="simple">simple</span> tools dedicated to streamline your workflow at ease!
          </p>
          <ul>
            <li>Bookmarks - Quick Links</li>
            <li>Notes - Simple Note Editor to keep your ideas</li>
            <li>Todos - Intuitive tool for your daily tasks</li>
            <li>Time Keeper - Keep track of yor time</li>
            <li>Budget - Keep track of your finances</li>
          </ul>
        </section>
        <aside>
          <img ngSrc="assets/welcome_webp/Dashboard_page.webp" alt="Dashboard page view" height="1431" width="2392">
        </aside>
      </div>
    </mat-tab>
    <mat-tab #tab3>
      <ng-template mat-tab-label>
        <ng-container *ngIf="tab3.isActive else notActive">
          <mat-icon>fiber_smart_record</mat-icon>
        </ng-container>
        <ng-template #notActive>
          <mat-icon>fiber_manual_record</mat-icon>
        </ng-template>
      </ng-template>
      <div class="tab-content">
        <section>
          <h3>Bookmarks & Notes</h3>
          <mat-divider></mat-divider>
          <p class="quote">
            Thanks to Bookmarks you can set your <span data-after="quick" data-width="104">quick</span> access links and have the most important things around
            </p>
          <p class="quote">
            Notes gives you opportunity to keep your thoughts <span data-after="organized" [style.width]="'150px'">organized</span> in one place with instant access</p>
        </section>
        <aside>
          <img ngSrc="assets/welcome_webp/Welcome_1.webp" alt="Quick look at bookmarks and notes" height="1080" width="1920">
        </aside>
      </div>
    </mat-tab>
    <mat-tab #tab4>
      <ng-template mat-tab-label>
        <ng-container *ngIf="tab4.isActive else notActive">
          <mat-icon>fiber_smart_record</mat-icon>
        </ng-container>
        <ng-template #notActive>
          <mat-icon>fiber_manual_record</mat-icon>
        </ng-template>
      </ng-template>
      <h3>Todos & TimeKeeper</h3>
      <mat-divider></mat-divider>
      <p class="quote">
        With iDash you can organize your time, keep track of your budget, manage your day-to-day task and plan your far-reaching goals. It's never been easier!
      </p>
      <p>Something here about it</p>
    </mat-tab>
    <mat-tab #tab5>
      <ng-template mat-tab-label>
        <ng-container *ngIf="tab5.isActive else notActive">
          <mat-icon>fiber_smart_record</mat-icon>
        </ng-container>
        <ng-template #notActive>
          <mat-icon>fiber_manual_record</mat-icon>
        </ng-template>
      </ng-template>
      <h3>Budget</h3>
      <mat-divider></mat-divider>
      <p>Something here about it</p>
    </mat-tab>
    <mat-tab #tab6>
      <ng-template mat-tab-label>
        <ng-container *ngIf="tab6.isActive else notActive">
          <mat-icon>fiber_smart_record</mat-icon>
        </ng-container>
        <ng-template #notActive>
          <mat-icon>fiber_manual_record</mat-icon>
        </ng-template>
      </ng-template>
      <div class="tab-content">
        <section>
          <h3>Feature Upgrades</h3>
          <mat-divider></mat-divider>
          <p class="quote">
            With iDash you can organize your time, keep track of your budget, manage your day-to-day task and plan your far-reaching goals. It's never been easier!
          </p>
          <p>Something here about it</p>
        </section>
        <aside>
          <img ngSrc="https://images.unsplash.com/photo-1532102235608-dc8fc689c9ab" alt="Photo by: 'https://unsplash.com/@new_data_services' from Unsplash" height="1080" width="1920">
        </aside>
      </div>
    </mat-tab>
  </mat-tab-group>

</mat-dialog-content>
<mat-dialog-actions
  class="welcome-dialog-actions"
  [ngStyle]="{display: 'flex', gap: '.75rem', 'margin-right': '.5rem', width: '100%'}">
  <form [formGroup]='msgForm' class="id-flex id-checkbox-container">
    <input id="welcomeMsg" type="checkbox" formControlName="showWelcomeMsg" (change)="changeWelcomeMsgStatus()">
    <label for="welcomeMsg" class="id-checkbox-label">Show Welcome Screen on start</label>
  </form>
  <button
    class="btn btn-no"
    (click)="closeDialog()"
  >Close</button>
</mat-dialog-actions>
