<div
  class="dashboard-main-container"
  [ngStyle]="{'background-image': 'url(' + bgPhoto.photoLink + ')'}"
>
  <div class="background-refresh bg-blur">
    <div class="background-header">
      <p>Change Background Photo</p>
      <span class="material-symbols-outlined">photo_frame</span>
    </div>
    <div class="background-options">
      <span
        *ngFor="let bg of bgArray; let i = index"
        [ngStyle]="{'background-image': 'url(' + bg.photoLink + ')'}"
        (click)="changeBackground(bg.photoLink, bg.photoAuthor, bg.photoIndex)"
      ></span>
    </div>
    <span class="material-symbols-outlined reset-image"
     (click)="resetBackground()"
     [matTooltip]="'Reset background'" matTooltipPosition="right" matTooltipClass="id-tooltip"
    >reset_image</span>
  </div>
  <nav class="bg-blur">
    <span class="material-symbols-outlined" routerLink="user-settings" routerLinkActive="active" [matTooltip]="'User login UNAVAILABLE in current version'" matTooltipPosition="right" matTooltipClass="id-tooltip" [style.cursor]="'default'">account_circle</span>
    <mat-divider></mat-divider>
    <span class="material-symbols-outlined" routerLink="dashboard" routerLinkActive="active" [matTooltip]="'iD Home'" matTooltipPosition="right" matTooltipClass="id-tooltip">dashboard</span>
    <mat-divider></mat-divider>
    <div class="nav-buttons">
      <span class="material-symbols-outlined" routerLink="todos" routerLinkActive="active" [matTooltip]="'Todos'" matTooltipPosition="right" matTooltipClass="id-tooltip">fact_check</span>
      <span class="material-symbols-outlined" routerLink="notes" routerLinkActive="active" [matTooltip]="'Notes'" matTooltipPosition="right" matTooltipClass="id-tooltip">text_snippet</span>
      <span class="material-symbols-outlined" routerLink="budget" routerLinkActive="active" [matTooltip]="'Budget'" matTooltipPosition="right" matTooltipClass="id-tooltip">account_balance_wallet</span>
    </div>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <div class="dash-info"><a href="https://github.com/BD4vid777/iDash" target="_blank">iDash(pre-release 1.5.0)</a>, 2023 - created by <a href="https://www.linkedin.com/in/dawidbudzinski/" target="_blank">Dawid Budziński</a></div>
    <div class="photo-info" [innerHTML]="bgPhoto.photoAuthor"></div>
  </footer>
</div>


