<div
  class="dashboard-main-container"
  [ngStyle]="{'background-image': 'url(' + bgPhoto + ')'}"
>
  <span
    class="material-symbols-outlined background-refresh bg-blur"
    [matTooltip]="'Change Background Photo'"
    matTooltipPosition="left"
    (click)="changeBackground()"
  >photo_frame</span>
  <nav class="bg-blur">
    <span class="material-symbols-outlined">account_circle</span>
    <mat-divider></mat-divider>
    <h1>iD</h1>
    <div class="nav-buttons">
      <span class="material-symbols-outlined" [matTooltip]="'TODOS'" matTooltipPosition="right">fact_check</span>
      <span class="material-symbols-outlined" [matTooltip]="'NOTES'" matTooltipPosition="right">text_snippet</span>
    </div>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>


