@import "src/app/styles/variables.scss";

.bookmarks-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: $gap-secondary;
  padding: $padding-primary;

  .bookmarks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: $padding-primary;

    gap: $gap-secondary;
    row-gap: .6rem;

    max-width: 600px;
    min-height: 90px;
    max-height: 90px;

    overflow: hidden;
    overflow-y: auto;



    .bookmark-tile {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: $gap-secondary;
      padding: $padding-secondary $padding-primary;

      text-decoration: none;
      color: $primary-black;

      transition: $smooth;
      cursor: pointer;

      width: 80px;
      height: 70px;

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 62px;
        max-height: 20px;
      }

      img {
        height: 25px;
        width: 25px;
      }

      span {
        position: absolute;
        top: 5px;
        opacity: 0;
        transition: $smooth;
        font-size: 0.8rem;
        color: $primary-white;
      }

      span.delete {
        right: 5px;
      }

      span.edit {
        left: 5px;
      }

      &:hover {
        color: $primary-white;
        transform: scale(1.1);

        span {
          opacity: 1;
        }

        span.delete:hover {
          color: $delete;
          transform: scale(1.5);
        }

        span.edit:hover {
          color: $success;
          transform: scale(1.5);
        }
      }
    }

  }
}
