<div class="bookmarks-wrapper">
  <div class="bookmarks-container dash-scrollbar">
    <a class="bookmark-tile bg-blur" *ngFor="let tile of bookmarks" [href]="tile.src" [target]="tile.target">
      <img [src]="tile.src + 'favicon.ico'" [alt]="tile.title" checkImg>
      <p *ngIf="tile.title.length > 8" [matTooltip]="tile.title" matTooltipPosition="below">{{tile.title}}</p>
      <p *ngIf="tile.title.length <= 8">{{tile.title}}</p>

      <span class="material-symbols-outlined edit" (click)="$event.preventDefault(); editBookmark(tile.uid)">stylus</span>
      <span class="material-symbols-outlined delete" (click)="$event.preventDefault(); openDeleteBookmarkDialog(tile)">delete</span>

    </a>
  </div>
  <div
    class="btn"
    [ngClass]="bookmarks.length == 0 ? '' : 'hidden-text'"
    (click)="addNewBookmark('Onet', 'https://www.onet.pl')"
  >
    <span class="material-symbols-outlined">add</span>
    <p>{{bookmarks.length == 0 ? 'Add First Bookmark' : 'Add New Bookmark'}}</p>
  </div>
</div>
