<div class="bookmarks-wrapper">
  <div class="bookmarks-container id-scrollbar" [ngStyle]="isMobile ? {'min-height': 'unset'} : {'min-height': '90px'}">
    <a class="bookmark-tile bg-blur" *ngFor="let tile of bookmarks" [href]="tile.src" [target]="tile.target" [class.isMobile]="isMobile">
      <img [src]="getFavicon(tile.src)" [alt]="tile.title" checkImg>
      <p
         [matTooltip]="tile.title"
         matTooltipPosition="below"
         matTooltipClass="id-tooltip"
         [matTooltipDisabled]="tile.title.length <= 8"
      >{{tile.title}}</p>

      <span class="material-symbols-outlined edit" (click)="$event.preventDefault(); openEditBookmarkDialog(tile)">stylus</span>
      <span class="material-symbols-outlined delete" (click)="$event.preventDefault(); openDeleteBookmarkDialog(tile)">delete</span>

    </a>
  </div>
  <button
    class="btn"
    [ngClass]="isMobile ? 'bookmark-mobile' : bookmarks.length == 0 ? '' : 'hidden-text'"
    (click)="openAddBookmarkDialog()"
  >
    <span class="material-symbols-outlined">add</span>
    <p>{{bookmarks.length == 0 ? 'Add First Bookmark' : 'Add New Bookmark'}}</p>
  </button>
</div>
