<h2 mat-dialog-title>
  <img ngSrc="assets/logo.png" alt="iDash Logo" height="25" width="25">
  {{dialogTitle}}
</h2>
<span class="material-symbols-outlined close-btn" (click)="closeDialog()">close</span>
<mat-dialog-content class="id-scrollbar" [style.height.%]="'100'">
  <form [formGroup]='settingsForm' class="id-flex-col id-spc-btw id-gap-small h-100">

    <ng-container *ngIf="loggedInUser && user else notLoggedIn">
      <div (click)="logOut()">loggedIn - Click to log out</div>
      <div>
        <img ngSrc="{{user.photoUrl}}" alt="{{user.firstName}} photo" height="150" width="150">
        <div>
          <h4>{{user.name}}</h4>
          <p>{{user.email}}</p>
        </div>
      </div>
    </ng-container>
    <ng-template #notLoggedIn>
      <div class="id-form-control id-flex-spc id-gap-small">
        <asl-google-signin-button type="standard" size="medium" theme="filled_blue"></asl-google-signin-button>
        <p>Save settings on Google Drive, use them on other devices and unlock additional features.</p>
      </div>

    </ng-template>

    <div class="id-form-control checkbox">
      <input
        id="welcomeMsg"
        type="checkbox"
        formControlName="showWelcomeMsg"
        class="id-checkbox"
        (change)="changeWelcomeMsgStatus()">
      <label for="welcomeMsg" class="id-checkbox-label">Show Welcome Screen on start</label>
    </div>


  </form>
</mat-dialog-content>
<mat-dialog-actions class="settings-actions">
  <button
    class="btn btn-no"
    (click)="closeDialog()"
  >Close</button>
</mat-dialog-actions>

