<div
  class="timeKeeper-container bg-blur"
  [class.paused]="!interval"
  [class.counting]="interval">
  <div class="timeKeeper-data">
    <div class="timeKeeper-title">{{triggerData.title}}</div>
    <div class="timeKeeper-time">{{time}}</div>
  </div>
  <div class="timeKeeper-actions">
      <span
        class="material-symbols-outlined play"
        [ngStyle]="interval ? {'opacity': '.2', 'pointer-events': 'none'} : {'opacity': '.7', 'pointer-events': 'auto'}"
        (click)="triggerKeeper({trigger: 'play', time: timeCounter, uid: triggerData.uid})"
        matTooltip="Continue"
        matTooltipPosition="below"
      >play_arrow</span>
    <span
      class="material-symbols-outlined pause"
      [ngStyle]="!interval ? {'opacity': '.2', 'pointer-events': 'none'} : {'opacity': '.7', 'pointer-events': 'auto'}"
      (click)="triggerKeeper({trigger: 'pause', time: timeCounter, uid: triggerData.uid})"
      matTooltip="Pause"
      matTooltipPosition="below"
    >pause</span>
    <span
      class="material-symbols-outlined stop"
      (click)="triggerKeeper({trigger: 'stop', time: timeCounter, uid: triggerData.uid})"
      matTooltip="Stop & Save"
      matTooltipPosition="below"
    >stop</span>
  </div>
</div>
