@import "src/app/styles/variables.scss";

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;

  gap: $gap-primary;

  .time-container {
    text-align: center;
    line-height: 1;
    margin-block: 2rem;

    h1 {
      font-size: 7rem;
      font-weight: 500;
      color: white;
      margin: 0;
    }

    h4 {
      font-size: 1.5rem;
      font-weight: 300;
      margin: 0;
      color: white;
    }
  }

  .dashboard-standalones {
    display: flex;
    justify-content: space-between;
    gap: $gap-double;
    padding: $padding-primary;

    margin-top: auto;

    height: 50%;
    width: 100%;

    .standalones {
      height: 100%;
      width: 100%;
      flex-grow: 1;
      overflow: hidden;
    }
  }
}
