<main class="content-wrapper">
  <id-clock *ngIf="!isMobile" [isDashboard]="true"></id-clock>
  <id-bookmarks [ngClass]="isMobile ? 'isMobile' : ''"></id-bookmarks>
  <div class="dashboard-standalones" [ngClass]="isMobile ? 'isMobile' : ''">
    <id-dash-notes class="bg-blur primary-padding standalones"></id-dash-notes>
    <id-dash-todos class="bg-blur primary-padding standalones"></id-dash-todos>
    <id-dash-budget class="bg-blur primary-padding standalones"></id-dash-budget>
  </div>
</main>
