@import "src/app/styles/variables.scss";

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;

  gap: $gap-primary;

  id-bookmarks {
    opacity: 0;
    &.isMobile {
      opacity: 1;
    }
  }

  &:hover {
    .dashboard-standalones, id-bookmarks {
      opacity: 1;
    }
  }

  .dashboard-standalones {
    display: flex;
    justify-content: space-between;
    gap: $gap-double;
    padding: $padding-primary;

    opacity: 0;
    transition: $smooth;

    margin-top: auto;

    height: 50%;
    width: 100%;

    &.isMobile {
      opacity: 1;
      margin-top: unset;
      flex-direction: column;
      height: unset;
      margin-bottom: 1rem;
    }

    .standalones {
      height: 100%;
      width: 100%;
      flex-grow: 1;
      overflow: hidden;
      min-height: 350px;
      position: relative;
    }
  }
}
